/* START OF HUONG'S PART */
.tweet {
  border: 1px solid gray;
}

.hearted {
  color: red;
}

#tweetList {
  padding-inline-start: 0 !important;
}
/* END OF HUONG'S PART*/

/* START OF WILLIAM'S PART*/

/* END OF WILLIAM'S PART*/

/* START OF JUN YOUNG'S PART*/

/* END OF JUN YOUNG'S PART*/
